In [24]:
import pandas as pd
import matplotlib as pl
from pathlib import Path

filename = Path("../results/testCase.csv")

df = pd.read_csv(filename)

In [25]:
df

,id,Thread Count,Element Count,Throughput,Lookup Percentage,Iteration Percentage,Add Percentage,Remove Percentage
0,0,4,16384,20860,34,33,17,16
1,1,4,16384,41689,34,33,17,16
2,2,4,16384,62517,34,33,17,16
3,3,4,16384,83257,34,33,17,16
4,4,4,16384,104106,34,33,17,16
5,5,4,16384,124886,34,33,17,16
6,6,4,16384,145761,34,33,17,16
7,7,4,16384,166661,34,33,17,16
8,8,4,16384,187726,34,33,17,16
9,9,4,16384,208623,34,33,17,16

In [26]:
df['Throughput'].median()

114496.0

In [27]:
df['Throughput'].mean()

114608.6